@import 'common/variables.scss';

.board-card {
  padding: 16px 20px 12px;
  background: $color-white;
  border-radius: 3px;
  color: #5f6368;
  font-size: 13px;
  margin: 40px 0;
  overflow: hidden;
  transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);
  vertical-align: top;
  width: 240px;
  z-index: 1;
  @include material-shadow;
  .board-title {
    color: #202124;
    font-size: 13px;
    font-weight: 700;
  }
  &:hover {
    background: rgba($color: #000, $alpha: 0.04);
    cursor: pointer;
  }
}