@import 'common/variables.scss';

html, body, #root, .app {
  height: 100%;
}

.app {
  background-color: $color-blue;
  display: flex;
  flex-direction: column;
  #header {
    padding: 0 10%;
    flex: none;
  }
}
