$color-white: #ffffff;
$color-grey: #e0e0e0;
$color-blue: #29b6f6;

@mixin material-shadow {
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08), 0 1px 3px 1px rgba(60,64,67,.16);
  &:hover {
    box-shadow: 0 1px 3px 1px rgba(60,64,67,.2), 0 2px 8px 4px rgba(60,64,67,.1);
  }
}